body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container-principal {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 1em; 
    margin: 0; 
}

.instrucao {
    padding-left: 2em;
    margin-top: 1em; 
}

form {
    margin-top: 1em;
    padding: 0 2em 0 2em; 
}

img {
    margin-top: 1em; 
    width: 15%;
    height: 10%;
}
