body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}
  
.container-principal {
    align-items: center;
    padding-left: 15em;
    margin-left: 20em;

}

.instrucao {

    padding-left: 2em;
}

form {
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 4em;
}

img {
    padding-left: 3em;
    width: 15%;
    height: 10%;
}
